## General
data/
ny_taxi_postgres_data/
data_pgadmin/
commands.txt
config.py
profiles.yml
.ipynb_checkpoints/
tmp/
movie_postgres_data/
project/dbt_postgres/.user.yml
project/dbt_postgres/logs/
module1_homework.md
keys/
variables.tf
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
.git
*homework.md
bigquery_ml_models_sql.sql
bigquery_partition_cluster_sql.sql
__pycache__

## dbt
*.log
.user.yml
target/
dbt_packages/
logs/
# has BigQuery project ID in it
dbt_cloud/models/staging/schema.yml

## Kestra
# Has Discord webhook and GCP secrets in them
flows/

## BigQuery models
serving_dir/